################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/.vs
/Chenss.IOCTest/obj
/Chenss.IOCTest/bin/Debug/net5.0
/Chenss.IOC/obj
/Chenss.IOC/bin/Debug/netstandard2.0
/Chenss.IOC/bin/Debug/netstandard2.1
/Chenss.Extensions.DependencyInjection/obj
/Chenss.Extensions.DependencyInjection/bin/Debug/net6.0
